# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# logs / temp
*.log

# Audio files (large)
audio/*.wav

# OS
.DS_Store
*.swp
*.swo

# local secrets / env
.env

# large videos
static/videos/*.mp4
